.container {

  --color-bg: #F5F5F5;
  --color-text: #2D3748;
  --color-accent: #718096;
  

  
  background-color: var(--color-bg);
  color: var(--color-text);
  min-height: 100vh;
  width: 100%;
}

.motif {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.altBg {
  background: rgba(0, 0, 0, 0.15);
}
