.container {
  --color-bg: #FFF0F5;
  --color-text: #2D3748;
  --color-accent: #B76E79;
  --color-extra: rgba(0, 0, 0, 0.05);

  background-color: var(--color-bg);
  color: var(--color-text);
}

.motif {
  display: flex;
  align-items: center;
  justify-content: center;
}

.altBg {
  background: var(--color-extra, rgba(0, 0, 0, 0.12));
}
